body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
} 
 
 
 
 
 
 
 .value {
    font-size: 50px;
    display: block;
    font-weight: bold;
    color: #000;
  }

  .numner-counter {
    text-align: center;
}

.wrap {
  padding: 25px;
  text-align: center;
}
.wrap a{
    color: #fff;
    text-decoration:none;
}
.wrap a:hover{
  color: #fff;
  text-decoration:underline;
}


.list-content {
  justify-content: center;
}
.box{
  transition: transform 250ms;
  cursor: pointer;
}

.box:hover {

  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: translateY(-10px); 
}
.icons {
  font-size: 50px;
}